{% extends "base.html" %}

{% block header %}HOME{% endblock header %}

{% block content %}
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'logOut' %}">
            {% csrf_token %}
            <button type="submit">LogOut</button>
        </form>

        <h1>Hola {{ user.username }}</h1>
    {% else %}
        <a href="{% url 'signUp' %}">SignUp</a>
        <a href="{% url 'logIn' %}">LogIn</a>
    {% endif %}

    <hr>

    <a href="{% url 'categories' %}">Categories</a>

    <br>

    <a href="{% url 'promotions' %}">Promotions</a>
{% endblock content %}