{% extends "base.html" %}

{% block header %}Categories{% endblock header %}

{% block content %}
    <a href="{% url 'home' %}">home</a>
    <a href="{% url 'addCategory' %}">AddCategory</a>

    <hr>

    <form action="" method="GET">
        {% csrf_token %}
        <input type="text" placeholder="Search..." name="category">

        <input type="submit" name="submit">
    </form>

    <hr>

    {% if "ok" in request.GET.update|slice:"0:2" %}
        <div>
            <p>The {{request.GET.update|slice:"3:100"}} category was successfully updated</p>
        </div>
    {% endif %}

    <ul>
        {% for category in category_list %}
            <li>
                <p>name: {{category.name}}</p>
                <p>description: {{category.description}}</p>

                {% for product in category.product_id.all %}
                    <div>
                        <p>name: {{product.name}}</p> 
                    </div>
                {% endfor %}

                <a href="{% url 'updateCategory' category.id %}">update</a>
                <a href="{% url 'deleteCategory' category.id %}">delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}